*{
    padding: 0px;
    margin: 0px;
}

header{
    text-align: center;
    margin: 20px 20px;
    color: black;
}

header p{
    margin: 20px 20px;
    color: black;
    width: 70%;
    margin: auto;
}

#companiesList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rebeccapurple;
    width: 90%;
    margin: auto;
}


div{
    background: rgb(19, 165, 250);
    width: 100%;
    
    border-radius: 10px;
    margin: 20px 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 5px;
    justify-content: center;
}



.company-information{
    width: 100%;
    display: block;
}

h2{
    display: block;
    font-size: 30px;
    text-align: center;
}

.idCompany{
    display: block;
    background: rgb(84, 126, 241);
    font-size: 20px;
    padding: 20px 10px;
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}


.info-employee{
    width: 220px;
    background: rgb(9, 231, 39);
    margin: 5px 10px;
    height: 130px;
    padding: 10px 10px;
    border-radius: 20px;
}



p{
    display: block;
    font-size: 15px;
    margin: 5px 5px;
    color: white;
}

.employees, .count{
    display: inline;
    font-size: 25px;
    /* background: rgb(94, 255, 0);
    width: 50%;*/
}
