#companiesList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

article{
    background: rgb(19, 165, 250);
    width: 300px;
    margin: 20px 20px;
    border-radius: 10px;
}

h2{
    display: block;
    font-size: 30px;
    text-align: center;
}

.idCompany{
    display: block;
    background: rgb(84, 126, 241);
    font-size: 20px;
    padding: 20px 10px;
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.info-employee{
    background: rgb(9, 142, 231);
    margin: 20px 20px;
    height: 150px;
    padding: 10px 10px;
    border-radius: 20px;
}



p{
    display: block;
    font-size: 15px;
    margin: 5px 5px;
    color: white;
}

.employees, .count{
    display: inline;
    font-size: 25px;
    /* background: rgb(94, 255, 0);
    width: 50%;*/
}